body {
    background-color: blue;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

.section-title, .task-title, .task-time, .task-priority {
    color: white;
}

.section-title:hover, .task-title:hover, .task-time:hover, .task-priority:hover {
    color: purple;
}

.task-list .checked {
    color: green;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

#plus-sign {
    position: fixed;
    right: 20px;
    top: 50%;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.modal-content {
    background-color: white;
    color: black;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#close, #edit-close {
    cursor: pointer;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    background-color: yellow; /* initial color when unchecked */
  }
  
li {
    display: flex;
    align-items: center;
  }

li input[type="checkbox"] {
    display: none;
  }

.checkbox.checked {
    background-color: green;
}

li input[type="checkbox"] {
    display: none;
  }
  
  li input[type="checkbox"]:checked + .task-text {
    color: green;
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
  }
  
  .task-text {
    display: inline;
  }
  
